<form id="DoctorProfileForm">
    <div class="mb-3">
        <input type="text" class="form-control" id="doctorId" name="doctorId"
            value="" placeholder="Doctor ID" readonly>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="fullname" name="fullname"
            value="" placeholder="Full Name" readonly>
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="email" name="email" value=""
            placeholder="Email Address" readonly>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="specialization" name="specialization"
            value="" placeholder="Specialization" readonly>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="licensenumber" name="licensenumber"
            value="" placeholder="Medical License Number" readonly>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="experience" name="experience"
            value="" placeholder="Years of Experience" readonly>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="clinicaddress" name="clinicaddress"
            value="" placeholder="Clinic Address" readonly>
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select class="form-select" aria-label="Default select example" id="status" name="status">
            <option selected>Open this select menu</option>
            <option value="Approve">Approve</option>
            <option value="Hold">Hold</option>
            <option value="Decline">Decline</option>
          </select>
    </div>
</form>