{% for appointment in appointments %}


<div class="card shadow-sm mb-4 rounded-4">
    <div class="row g-0">
        <!-- Date Section -->
        <div
            class="col-3 col-sm-2 text-center d-flex align-items-center justify-content-center flex-column p-3 rounded-start">
            <p class="mb-0" style="font-size: 40px; font-weight: 700;">{{ appointment.date.strftime('%d') }}</p>
            <p class="mb-0" style="font-size: 24px;">{{ appointment.date.strftime('%b') }}</p>
        </div>

        <!-- Event Details Section -->
        <div class="col-7 col-sm-8">
            <div class="card-body p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-1">{{ appointment.name }}</h5>
                    {% if appointment.status == 'Upcoming' %}
                        <span class="badge rounded-pill text-bg-success" style="font-size: 12px;">{{appointment.status}}</span>
                    {% elif appointment.status == 'Ended' %}
                        <span class="badge rounded-pill text-bg-danger" style="font-size: 12px;">{{appointment.status}}</span>
                    {% endif %}

                    
                    
                </div>
                <p class="card-text text-muted mb-2"><i class="bi bi-clock"></i> From: {{ appointment.time }}</p>
                <p class="card-text text-muted"><i class="bi bi-geo-alt"></i>At: {{ appointment.locationName }}
                </p>
                <p class="card-text text-muted">Bookings: {{appointment.active_bookings}}</p>
            </div>
        </div>

        <!-- Action Buttons -->
        <div class="col-2 d-flex align-items-center justify-content-center">
            <div class="d-flex flex-column align-items-center gap-2">
                <a href="" class="action-link" data-bs-toggle="modal" data-bs-target="#editSlot" onclick="editTrigger('{{ appointment._id }}')">
                    <svg class="bi">
                        <use xlink:href="#bi-pencil" />
                    </svg>
                </a>


                <a href="" class="action-link" data-bs-toggle="modal" data-bs-target="#deleteSlot" onclick="deleteTrigger('{{ appointment._id }}')">
                    <svg class="bi">
                        <use xlink:href="#bi-trash3" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

{% endfor %}


<!-- Slot Edit -->
<div class="modal fade" id="editSlot" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Appointment Slot</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSlotForm">
                    <input type="hidden" id="appointmentSlotId" name="appointmentSlotId" value="">
                    <div class="mb-3">
                        <label for="editAppointmentSlotName" class="form-label">Appointment Slot Name</label>
                        <input type="text" class="form-control" id="editAppointmentSlotName" name="editAppointmentSlotName">
                    </div>

                    <div class="mb-3">
                        <label for="editAppointmentType" class="form-label">Appoointment Type</label>
                        <select class="form-select" aria-label="Default select example" id="editAppointmentType"
                            name="editAppointmentType">
                            <option selected>Open this select menu</option>
                            <option value="Type 1">Type 1</option>
                            <option value="Type 2">Type 2</option>
                            <option value="Type 3">Type 3</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="editDate" class="form-label">Date</label>
                        <input type="date" class="form-control" id="editDate" name="editDate">
                    </div>
                    <div class="mb-3">
                        <label for="editTime" class="form-label">Time</label>
                        <input type="time" class="form-control" id="editTime" name="editTime">
                    </div>

                    <div class="mb-3">
                        <label for="editLocation" class="form-label">Location</label>
                        <input type="text" class="form-control" id="editLocation" name="editLocation">
                    </div>

                    <div class="mb-3">
                        <label for="editMaxBookings" class="form-label">Number Of Bookings</label>
                        <input type="number" class="form-control" id="editMaxBookings" name="editMaxBookings">
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateSlot()">Update Slot</button>
            </div>
        </div>
    </div>
</div>



<!-- Slot Delete -->
<div class="modal fade" id="deleteSlot" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Remove Appointment Slot</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure want remove this slot ?</p>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="deleteSlot()">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>



<!-- Pagination controls -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="#" data-page="{{ page-1 }}">&laquo;</a>
        </li>

        {% for i in range(1, total_pages + 1) %}
        <li class="page-item {% if i == page %}active{% endif %}">
            <a class="page-link" href="#" data-page="{{ i }}">{{ i }}</a>
        </li>
        {% endfor %}

        <li class="page-item {% if page == total_pages %}disabled{% endif %}">
            <a class="page-link" href="#" data-page="{{ page+1 }}">&raquo;</a>
        </li>
    </ul>
</nav>

